<!DOCTYPE html>

<html lang="zh-CN" dropeffect="none" class="no-touch js no-touch no-mobile" style="">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{% load staticfiles %}
<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>首页 - TextHub</title>

<link href="/site_media/plugin/uploadify_214/uploadify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/site_media/js/jquery.js"></script>
<script type="text/javascript" src="/site_media/plugin/uploadify_214/swfobject.js"></script>
<script type="text/javascript" src="/site_media/plugin/uploadify_214/jquery.uploadify.v2.1.4.min.js"></script>
<link rel="stylesheet" href="/static/jquery-ui.css" type="text/css">
<script src="/static/jquery-ui.js"></script> 
<link rel="stylesheet" href="/static/bd80dcc4ec449adf06670b068226708b.z.css" type="text/css" media="screen,print">

<script type="text/javascript">
$(document).ready(function() {
  $('#file_upload').uploadify({
    'uploader'  : '/site_media/plugin/uploadify_214/uploadify.swf',
    'script'    : '{%url "uploadify_script"%}',
    'cancelImg' : '/site_media/plugin/uploadify_214/cancel.png',
    'folder'    : '/upload',
    'auto'      : false,//
    'multi': true,//设置可以上传多个文件
    'queueSizeLimit':20,//设置可以同时20个文件
    'removeCompleted':false,//
    'sizeLimit':10240000,//设置上传文件大小单位kb
    'fileExt':'*.txt',//设置上传文件类型为TXT
    'fileDesc':'TEXT Files',                
    'onInit': function () {},
    'onError' : function (event,ID,fileObj,errorObj) {
            $('#id_span_msg').html("上传失败，错误码:"+errorObj.type+" "+errorObj.info);
        },
    'onSelect': function (e, queueId, fileObj) {
        $('#id_span_msg').html("");
    },
    'onAllComplete': function (event, data) {
        if(data.filesUploaded>=1){
          $('#id_span_msg').html("上传成功！");
        }                    
    }                
  });
});
</script>

<style type="text/css">
 .black_overlay{ 
            display: none; 
            position: absolute; 
            top: 0%; 
            left: 0%; 
            width: 1024px; 
            height: 1024px; 
            background-color: black; 
            z-index:1001; 
            -moz-opacity: 0.8; 
            opacity:.80; 
            filter: alpha(opacity=88); 
        } 
        .white_content { 
            display: none; 
            position: absolute; 
            top: 25%; 
            left: 25%; 
            width: 55%; 
            height: 8%; 
            padding: 20px; 
            font: 12px arial;
            background-color: white; 
            z-index:1002; 
            overflow: auto; 
        } 
#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		background: #0267CC;
		color:#fff;
		font: 12px arial
		border-top:1px solid #0D5AA5;
		overflow:hidden}

	#sddm div a:hover
	{	background-color:#0267CC}
</style>
<style>
@font-face {
font-family: 'Helvetica Neue';
unicode-range: U+0600—06FF, U+0750—077F, U+08A0—08FF, U+FB50—FDFF, U+FE70—FEFF, U+10E60—10E7F, U+1EE00—1EEFF;
src: local(Arial);
}
@font-face {
font-family: 'Helvetica Neue';
font-weight: bold;
unicode-range: U+0600—06FF, U+0750—077F, U+08A0—08FF, U+FB50—FDFF, U+FE70—FEFF, U+10E60—10E7F, U+1EE00—1EEFF;
src: local(Arial);
}
</style>
<script type="text/javascript">
<!--
var timeout         = 500;
var closetimer		= 0;
var ddmenuitem      = 0;

// open hidden layer
function mopen(id)
{	
	// cancel close timer
	mcancelclosetime();

	// close old layer
	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
	console.log("-----------------");
	// get new layer and show it
	ddmenuitem = document.getElementById(id);
	ddmenuitem.style.visibility = 'visible';

}
// close showed layer
function mclose()
{
	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
}

// go close timer
function mclosetime()
{
	closetimer = window.setTimeout(mclose, timeout);
}

// cancel close timer
function mcancelclosetime()
{
	if(closetimer)
	{
		window.clearTimeout(closetimer);
		closetimer = null;
	}
}

// close layer when click-out
document.onclick = mclose; 
// -->

</script>

</head>

<body class="zhi" style="">
<div role="navigation" class="zu-top" style="">
<div class="zg-wrap" id="zh-top-inner" style="">


<div class="top-nav-profile" style="">
<a href="http://www.zhihu.com/people/zhao-li-66" class="zu-top-nav-userinfo " id=":0" role="button" aria-haspopup="true" aria-activedescendant="" style="" aria-expanded="false">
<span class="name" style="">{{user}}</span>
<img class="avatar" src="/static/6c3b2735f_s.jpg" style="">
<span id="zh-top-nav-new-pm" class="zg-noti-number zu-top-nav-pm-count" style="visibility: hidden;" data-count="0">
</span>
</a>
<ul class="top-nav-dropdown" id="top-nav-profile-dropdown" aria-labelledby=":0" style="" aria-hidden="true">
<li style="">
<a href="http://www.zhihu.com/logout" tabindex="-1" id=":4" style="">
<i class="zg-icon zg-icon-dd-logout" style=""></i>退出
</a>
</li>
</ul>
</div>
<div role="search" id="zh-top-search" class="zu-top-search" style="">
<form method="post" action="/search/" id="zh-top-search-form" class="zu-top-search-form form-with-magnify" style="">
{% csrf_token %}
<input type="text" class="zu-top-search-input" id="keyword" name="keyword" autocomplete="off" value="" aria-haspopup="true" style="">
<button type="submit" id="searchsubmit" class="zu-top-add-question" id="zu-top-add-question" style="">查询</button>
</form>

</div>
<div id="zg-top-nav" class="zu-top-nav" style="">
<ul class="zu-top-nav-ul zg-clear" style="">

<li class="zu-top-nav-li current" id="zh-top-home-link" style="">
<a class="zu-top-nav-link" href="/managehub/index/" id="zh-top-link-home" style="">首页</a>
</li>
<li class="zu-top-nav-li " style="">
<a class="zu-top-nav-link" href="/admin/" target="_blank" style="">管理</a>
</li>
<li class="top-nav-topic-selector zu-top-nav-li " id="zh-top-nav-item-topic" style="">

<a class="zu-top-nav-link"  id="top-nav-dd-topic" href = "/fabu1/"   class="messages">发布</a>
<div id="sddm">
<div id="m1" onmouseover="mcancelclosetime()" onmouseout="mclosetime()" style="position: absolute;visibility: hidden;margin: 0;padding: 0;background: #EAEBD8;border: 1px solid #5970B2">
<a  href = "/fabu1/"   class="messages" >发布</a>
<a  href = "/fabu/"   class="messages"  >批量发布</a>
</div>
</div>
</li>

</ul>
</div>
</div>

</div>
</div>
</div>
<div class="zg-wrap zu-main" role="main" style="">
<div class="zu-main-content" style="">

<!-- start of content -->
<h1>选择txt文件上传，文件名为段落标题，文件内容为段落内容，最多20个文件</h1>
<p></p>
<h1>如果出现error:500错误 请检查txt文件是否为ansi编码</h1>
<div class="demo-box">

    <input id="file_upload" type="file" name="Filedata">
    <div id="file_uploadQueue" class="uploadifyQueue">
    	
    </div>
    <p><a href="javascript:$('#file_upload').uploadifyUpload()">上传文件</a>
    <a href="javascript:$('#file_upload').uploadifyClearQueue()">取消上传</a>
    </p>
    <p><span id="id_span_msg"></span></p>

<script language="javascript">
function Check()
{ 
     if (document.addform.ETYPE.value=="未选择"&&document.addform.Newtype.value.length==0) {
  alert("提示：\n\n类别不能为空。");
       return false;
      } 
    
     return true;
}
</script>

    <div class="add-question-section-title">
 <form method="get" action="/mulpulish/" id="zh-top-search-form" class="zu-top-search-form form-with-magnify"  name="addform" onSubmit="return Check()" style="">
选择类别：
<select name=ETYPE etypes,id="etypes">
<option value="未选择">未选择</option>
<option value="自动分类">自动分类</option>
{%for etype in essay_type%}

<option value="{{etype}}">{{etype}}</option>

{%endfor%}
</select>

<a href="#" >
<!--
<input type=button  class="zg-r5px zu-question-form-add zg-btn-blue" value="增加类别" onclick = "document.getElementById('typelight').style.display='block'">
-->
</a>
<div id="typelight" class="white_content" style="display:none">
<div class="zg-form-text-input add-question-title-form" style="position: relative; width: 100px;">
<textarea class="zg-editor-input zu-seamless-input-origin-element" name=Newtype ntype="输入类别名" id="ntype"
 aria-label="输入类别名" placeholder="输入类别名" aria-haspopup="true" autocomplete="off"style="white-space: pre; height: 22px; min-height: 22px;"></textarea>
</div>
</div>
<button type="submit" id="searchsubmit" class="zu-top-add-question" id="zu-top-add-question" style="" href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">批量发布</button>
</div>
<div id="light" class="white_content">正在上传，请稍等....</div>
 
        <script>
        $( "#light" ).progressbar({
            value: false
            disabled: true
  
        });
        </script>
<div id="fade" class="black_overlay"></div> 

</form>
</div>


<!-- end of content -->
<div class="zu-main-content-inner" style="">
<div class="zg-section" id="zh-home-list-title" style="">

<div id="light" class="white_content" style="display:none">



</div> 

</div>

</div>
</div>
<div class="zu-main-sidebar" style="">

<div class="zm-side-section" style="">
<div class="zm-side-section-inner" style="">
<div class="zm-side-nav-group" style="">
<ul class="zm-side-nav" id="zg-sidebar-nav" style="">
<li class="zm-side-nav-li" style="">
<a class="zm-side-nav-link" href="" style="">
<i class="zg-icon zg-icon-sidenav-draft" style=""></i>
我的分类
</a>
</li>
</ul>
</div>
{%for etype in essay_type%}
<a class="zm-side-nav-link" href="/etype/{{etype.id}}/" title="{{etype}}" style="">
<i class="zg-icon zg-icon-sidenav-draft" style=""></i>
{{etype}}({{etype.essay_set.count}})
</a>
{%endfor%}
</br>
<div class="zm-side-nav-group" style="">
<ul class="zm-side-nav" style="">
<li class="zm-side-nav-li" style="">
<a class="zm-side-nav-link" href="http://www.zhihu.com/log/questions" style="">
<i class="zg-icon zg-icon-sidenav-all" style=""></i>
经常浏览
</a>
</li>
</ul>
</div>
{%for vessay in vies%}
<a class="zm-side-nav-link" href="/essay/{{vessay.id}}/" style="">
<i class="zg-icon zg-icon-sidenav-draft" style=""></i>
{{vessay}}
</a>
{%endfor%}
</div>
</div>
<div id="zh-footer" class="zu-footer" style="">
<div class="zg-wrap zu-footer-inner" style="">
</div>
</div>



<input type="hidden" name="_xsrf" value="25563a936c5243b69cae14782ac99742" style="">


<div id="zh-tooltip" style="visibility: hidden; left: 943px; top: 7195px; display: none;" class="tooltip right">
<div class="tooltip-arrow">
</div>
</div>
<div id="zh-global-spinner" style="display: none;">加载中…</div>

</body></html>