<!DOCTYPE html>
<html lang="zh-CN" class="no-touch no-mobile">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{% load staticfiles %}
<meta charset="utf-8">
<title>TextHub</title>

<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen,print">

<script async="" src="/static/analytics.js"></script>
<script type="text/javascript" async="" src="/static/ga.js">
</script>
</head>
<body class="no-auth" style="">



<div class="wrapper">
<div class="top">
<div class="inner-wrapper">
<div class="form-wrapper" id="js-form-wrapper">
<div class="logo"></div>

<div class="view view-signup selected" id="signup" style="display: block; ">
<form action="/logo/" method="get" class="zu-side-login-box" id="sign-form-1" autocomplete="off" novalidate="novalidate">
<br></br>
<div class="name input-wrapper js-weibo-bind-name-transfer">
<input required="" name='username' placeholder="用户">
</div>

<div class="input-wrapper">
<input required="" type="password" minlength="6" maxlength="128" name="password" placeholder="密码">
</div>
<div class="captcha-holder"></div>
<div class="button-wrapper command">
<button class="sign-button" type="submit">登陆</button>
</div>

</form>
</div>




<div class="mobi-front">


<div class="ft mobile">
</div>
</div>
</div>
</div>
</div>
<div class="bottom">
<div class="inner-wrapper">
<div class="stories zg-clear">





<div class="single-story" style="width:700px;">
<i class="icon-sign icon-sign-spike visible" style="top: 21px; "></i>

<div class="single-story-inner topic">
<div class="sep"></div>
* 名称: 汉语文本段落库管理系统
</br>
* 作用：方便用户管理自己的汉语文本段落，功能：类别区分，自动分类，查询文本段落，修改文本段落。
</br>
* 程序框架图：
</br>
<img src='/static/111.jpg'/>
</div>
</div>

</div>
</div>
</div>
</div>


</div>

<div id="zh-tooltip"></div></body></html>